@import "libs/reset.scss";

$icone-liste: (couvert "f2e7" #fff);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;


body { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 425px;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

/*----- HEADER ------*/

header {
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.83);
    z-index: 90;

    img{
        display:flex;
        width: 40%;
        margin-left: 25%;
        padding: 10px;
    }
}


/*------- LOCALISATION -------*/
.searchbox .localisation_bar {
    background-color: #eaeaea;
    
    p {
        display: flex;
        height: 40px;        
        margin-left: 29%;
        align-items: center;
        font-size: smaller;
        font-weight: 500;

        &::before {
            content: "\f3c5";
            font-family: FontAwesome;
            margin: 10px;
        }
    }   
}

.searchbox .presentation{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 50px;
        text-align: center;
    }

    p {
        margin: 10px 20px;
        text-align: center;
        font-weight: 300;
    }

    button {
        border-radius: 25px;
        border: none;
        background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: white;
        font-size: 0.9rem;
        padding: 13px;
        margin: 10px 0;
    }
}

/* --------- boutton Menu ------------ */
.navmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h2 {
        font-size: large;
        font-weight: 700;
    }

    &:nth-child(3)::before{
        content: "\f3cd";
                font-family: FontAwesome;
                margin-right:15px;
                color: gray;
    }

    div {
        display: flex;
        border-radius: 15px;
        margin: 8px;
        padding: 20px;
        background-color: #f6f6f6;
        font-size: 1 rem;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 15px grey;

        &:nth-child(2):before{
            content: "\f3cd";
                font-family: FontAwesome;
                margin-right:15px;
                color: gray;
        }
        &:nth-child(3):before{
            content: "\f03a";
                font-family: FontAwesome;
                margin-right:15px;
                color: gray;
        }
        &:nth-child(4){
            background-color: #f5edff;
            &:before{
                content: "\f54e";
                font-family: FontAwesome;
                margin-right:15px;
                color: $primary-color;
            }
        }
    }
}

/* -------- présentation des restaurants ------------ */
.restaurant {
    background-color: #f6f6f6;

    article {
        display: flex;
        flex-direction: column;
        margin: 10px;
        border: 1px solid black;
        border-radius: 15px;

        figure img{
            object-fit: contain;
        }
    }
}






/* -------- Page des menus -------*/
.menu {
    display: flex;
    flex-direction: column;

    h3 {
        text-transform: uppercase;
        margin-bottom: -10px;
    }
}

.bar_divider {
    display: inline-block;
    border-top: 2px solid $third-color;
    width: 40px;
    flex: 1;
}


// FOOTER

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;

    h4 {
        margin: 15px 0 0 20px;
        font-family: 'shrikhand', sans-serif;
        color: white;
    }

    ul {
        margin: 20px;
    }

    li {
        color: white;
        display: flex;
        flex-direction: column;
        margin: 5px;

        &:nth-child(1):before{
            display: flex;
            flex-direction: row;
            content: "\f2e7";
            font-family: FontAwesome;
        }
        &:nth-child(2):before{
            content: "\f4c4";
            font-family: FontAwesome;
        }
    }
}