@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.loader {
  position: fixed;
  background-color: aliceblue;
  height: 100vh;
  inset: 0;
  z-index: 99;
  opacity: 0.95;
  animation: loading 2s forwards;
  animation-delay: 3s;
}
.loader .color_cont {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .color {
  display: inline-block;
  height: 20rem;
  width: 32%;
  border-radius: 50%;
}
.loader .color1 {
  background-color: #9356dc;
  filter: blur(4rem);
}
.loader .color2 {
  background-color: #99e2d0;
  filter: blur(4rem);
}
.loader .color3 {
  background-color: #ff79da;
  filter: blur(4rem);
}
.loader .icone {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.loader path:nth-child(1) {
  stroke-dasharray: 40px;
  stroke-dashoffset: 40px;
  animation: anim 6s ease infinite forwards;
}
@keyframes anim {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 30px;
  }
  50% {
    stroke-dashoffset: 10px;
  }
  75% {
    stroke-dasharray: 30px;
  }
  100% {
    stroke-dasharray: 10;
  }
}
@keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/* APPARATITION DES ARTICLES */
@keyframes fadeUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* CHECK MARK*/
@keyframes spinCheck {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media (min-width: 43rem) and (max-width: 62rem) {
  body {
    /*INDEX*/
    /* page restaurant*/
  }
  body .searchbox {
    width: 100%;
  }
  body .navmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .navmenu h2 {
    margin-left: 50%;
  }
  body .navmenu h2::after {
    display: inline-block;
    content: "";
    width: 500px;
  }
  body .navmenu div {
    width: 30%;
    margin: 0 10px;
  }
  body .restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  body .restaurant h2 {
    margin: 1% 3%;
    grid-column: 1/-1;
  }
  body footer {
    display: inline-block;
    text-align: center;
  }
  body footer ul {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
  }
  body footer ul li {
    white-space: nowrap;
    margin: 10px 20px;
  }
  body footer h1 {
    display: inline-flex;
  }
  body .menu .title {
    display: flex;
    justify-content: center;
    margin: 4% 0;
  }
  body .menu .title i {
    margin: 5px 20px;
  }
  body .menu h3 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: larger;
  }
  body .menu .categorie .bar_divider {
    display: flex;
    justify-content: center;
  }
  body .menu .order {
    max-width: 300px;
  }
}
@media (min-width: 62rem) {
  body {
    /*INDEX*/
    /* page restaurant*/
  }
  body .searchbox {
    width: 100%;
  }
  body .navmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .navmenu h2::after {
    display: inline-block;
    content: "";
    width: 500px;
  }
  body .navmenu div {
    width: 30%;
    margin: 0 10px;
  }
  body .restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  body .restaurant article {
    max-width: 80%;
  }
  body .restaurant h2 {
    margin: 1% 3%;
    grid-column: 1/-1;
  }
  body footer {
    display: inline-block;
    text-align: center;
  }
  body footer ul {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
  }
  body footer ul li {
    white-space: nowrap;
    margin: 10px 20px;
  }
  body footer h1 {
    display: inline-flex;
  }
  body .picture {
    max-height: 32rem;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
  }
  body .menu {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: repeat(3, 1fr);
  }
  body .menu .title {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin: 4% 0;
  }
  body .menu .title i {
    margin: 5px 20px;
  }
  body .menu .categorie1 {
    grid-column: 1/2;
  }
  body .menu .categorie {
    width: 90%;
  }
  body .menu .categorie article {
    width: 100%;
  }
  body .menu .order {
    grid-column: 2/3;
    max-width: 300px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
  color: #353535;
}

/*----- HEADER ------*/
header {
  position: relative;
  width: 100%;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.33);
  z-index: 90;
  text-align: center;
}
header img {
  width: 40%;
  padding: 10px;
}
header button {
  border: none;
  background-color: transparent;
  font-size: x-large;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
header button:hover {
  cursor: pointer;
}

/*------- LOCALISATION -------*/
.searchbox .localisation_bar {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.searchbox .localisation_bar p {
  font-weight: 600;
}
.searchbox .localisation_bar p::before {
  content: "\f3c5";
  font-family: FontAwesome;
  margin: 10px;
}

.searchbox .presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.searchbox .presentation h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 50px;
  text-align: center;
}
.searchbox .presentation p {
  margin: 10px 20px;
  text-align: center;
  font-weight: 300;
}
.searchbox .presentation button {
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: white;
  font-size: 0.9rem;
  padding: 13px;
  margin: 10px 0;
  cursor: pointer;
}
.searchbox .presentation button:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
  box-shadow: 4px 4px 2px rgb(172, 171, 171);
}

/* --------- boutton Menu ------------ */
.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.navmenu h2 {
  display: flex;
  width: 100%;
  font-size: large;
  font-weight: 600;
  margin-left: 5%;
}
.navmenu div {
  display: flex;
  border-radius: 15px;
  margin: 8px;
  padding: 20px;
  background-color: #f6f6f6;
  font-size: 1 rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 8px rgb(216, 211, 211);
}
.navmenu div:nth-child(2)::before {
  content: "1";
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  transform: translateX(-30px);
  display: inline-block;
  line-height: 1.5em;
}
.navmenu div:nth-child(2) p:before {
  content: "\f3cd";
  font-family: FontAwesome;
  margin-right: 15px;
  color: gray;
}
.navmenu div:nth-child(3)::before {
  content: "2";
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  transform: translateX(-30px);
  display: inline-block;
  line-height: 1.5em;
}
.navmenu div:nth-child(3) p:before {
  content: "\f03a";
  font-family: FontAwesome;
  margin-right: 15px;
  color: gray;
}
.navmenu div:nth-child(4) {
  background-color: #f5edff;
}
.navmenu div:nth-child(4)::before {
  content: "3";
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  transform: translateX(-30px);
  display: inline-block;
  line-height: 1.5em;
}
.navmenu div:nth-child(4) p:before {
  content: "\f54e";
  font-family: FontAwesome;
  margin-right: 15px;
  color: #9356dc;
}

/* -------- présentation des restaurants ------------ */
.restaurant {
  background-color: #f6f6f6;
  width: 100%;
}
.restaurant h2 {
  font-size: x-large;
  font-weight: bold;
  margin: 10% auto 5% 5%;
}
.restaurant article {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  height: 300px;
  width: 90%;
}
.restaurant article .restaurant_pic {
  position: relative;
}
.restaurant article figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurant article figure button {
  position: absolute;
  display: block;
  background-color: #99e2d0;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 20;
  right: 5%;
  top: 5%;
}
.restaurant article div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
.restaurant article div h3 {
  font-weight: bold;
  font-size: 1.3rem;
  initial-letter-align: 1.55px;
}
.restaurant article div p {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: 400;
}
.restaurant article div i {
  position: absolute;
  right: 10%;
  bottom: 180%;
  font-size: 2rem;
}
.restaurant article div .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s;
}
.restaurant article div:hover .fas {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

/* -------- Page des menus -------*/
.menu {
  display: flex;
  top: -300px;
  flex-direction: column;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 20px;
  position: relative;
  top: -70px;
  background-color: #f6f6f6;
}
.menu .categorie:nth-child(2) .label_box {
  animation-name: fadeUp;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
.menu .categorie:nth-child(3) .label_box {
  animation-name: fadeUp;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
.menu .categorie:nth-child(3) .label_box {
  animation-delay: 1s;
}
.menu .categorie:nth-child(4) .label_box {
  animation-name: fadeUp;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
.menu .categorie:nth-child(4) .label_box {
  animation-delay: 1.5s;
}
.menu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: xx-large;
}
.menu .title h2 {
  font-weight: 900;
  font-family: "shrikhand", sans-serif;
}
.menu .bar_divider {
  display: inline-block;
  border-top: 2px solid #99e2d0;
  width: 40px;
  flex: 1;
}
.menu h3 {
  text-transform: uppercase;
}
.menu h3 + .bar_divider {
  margin-bottom: 10px;
}
.menu .favorite i {
  position: absolute;
}
.menu .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s;
}
.menu .fas:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}
.menu article {
  background: #fff;
  margin: 1rem 0;
  display: flex;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 2px 4px 5px rgba(216, 211, 211, 0.5);
  white-space: nowrap;
}
.menu article .label_description {
  padding: 0.8rem;
  overflow: hidden;
}
.menu article .label_description h4 {
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu article .label_description p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu article .price {
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.menu article .check_area {
  background-color: #99e2d0;
  border-radius: 0 0.75rem 0.75rem 0;
  margin-right: -4rem;
  width: 4rem;
  display: grid;
  place-items: center;
  transition: margin-right 0.8s;
}
.menu article .check_area i {
  background: #fff;
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 50%;
  color: #99e2d0;
  display: grid;
  place-items: center;
}
.menu article:hover .check_area {
  margin-right: 0;
}
.menu article:hover i {
  animation: spinCheck 0.5s;
}
.menu .order {
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: white;
  font-size: 0.9rem;
  padding: 13px;
  margin: 10px 0;
  cursor: pointer;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.menu .order:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
  box-shadow: 4px 4px 2px rgb(172, 171, 171);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px;
  width: 100%;
}
footer h1 {
  font-family: "shrikhand", sans-serif;
  color: white;
  font-size: 1.4rem;
}
footer ul {
  margin: 8% 0;
}
footer li {
  color: white;
  display: flex;
  flex-direction: row;
  line-height: 2em;
}
footer li:nth-child(1) {
  font-weight: 400;
}
footer li:nth-child(2) {
  font-weight: 400;
}
footer li:nth-child(1):before {
  display: flex;
  flex-direction: row;
  content: "\f2e7";
  font-family: FontAwesome;
  margin-right: 2%;
}
footer li:nth-child(2):before {
  content: "\f4c4";
  font-family: FontAwesome;
  margin-right: 2%;
}
footer li a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
